<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Arista_ZebraTablet.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Arista_ZebraTablet.Shared/app.css" />
    <link rel="stylesheet" href="Arista_ZebraTablet.Web.styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <link rel="icon" type="image/png" href="_content/Arista_ZebraTablet.Shared/favicon.png" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
</body>

</html>
