<div class="mb-5">
    <MudStack Class="" Justify="Justify.SpaceBetween" Wrap="Wrap.Wrap" Spacing="0" Row>
        <!-- Header Title -->
        <MudItem Class="flex-grow-1">
            <MudText Class="fw-bold" Typo="Typo.h4">@Title</MudText>
        </MudItem>

        <!-- Header Right Content -->
        @if (RightHeaderContent != null)
        {
            @RightHeaderContent
        }
    </MudStack>

    <!-- Header Subtitle -->
    <div>
        @if (SubtitleContent != null)
        {
            @SubtitleContent
        }
    </div>
</div>